body {
    font-family: sans-serif;
    font-size: 28px;
}
header , footer {
    background-color: #00A876;
}
header {
    padding: 10px;
    font-size: 40px ;
    color: white;
}
header img {
    width: 140px;
    height: 125px;
}
nav a {
    text-align: center;
    color: black;
    font-size: 30px;
    margin-left: 35px;
    text-decoration: none;
    border-bottom: px solid;
}
nav {
    text-align: center;
    margin: 48px 0px;
}
h1 {
    font-size: 60px;
    text-align: center;
}
h2 {
    margin: 19px 0px;
}
main {
    margin: 0px 82px;
}
.Glasses {
    width: 400px;
    height: 300px;
}
.flower {
    width: 368px;
    height: 400px;
}
footer p {
    background-color: white;
    padding: 6px 24px;
    border-radius: 20px;
    width: 400px;
}
footer {
    padding: 4px 36px;
}
